Repository BYU-Bazel/bazel-ls, pull requests merged in 2020-11, with the labels that each got.

#54 Bazel examples
  .devcontainer/devcontainer.json
  .vscode/settings.json
  Dockerfile
  README.md
  examples/.gitignore
  examples/README.md
  examples/cpp_external_dependencies/README.md
  examples/cpp_external_dependencies/external_local_repo/BUILD
  examples/cpp_external_dependencies/external_local_repo/WORKSPACE
  examples/cpp_external_dependencies/external_local_repo/formatter/BUILD
  examples/cpp_external_dependencies/external_local_repo/formatter/format_lower_case.cc
  examples/cpp_external_dependencies/external_local_repo/formatter/format_lower_case.hh
  examples/cpp_external_dependencies/external_local_repo/formatter/format_upper_case.cc
  examples/cpp_external_dependencies/external_local_repo/formatter/format_upper_case.hh
  examples/cpp_external_dependencies/external_local_repo/logger/BUILD
  examples/cpp_external_dependencies/external_local_repo/logger/logger.cc
  examples/cpp_external_dependencies/external_local_repo/logger/logger.hh
  examples/cpp_external_dependencies/main_repo/BUILD
  examples/cpp_external_dependencies/main_repo/WORKSPACE
  examples/cpp_external_dependencies/main_repo/src/BUILD
  examples/cpp_external_dependencies/main_repo/src/main.cc
  examples/cpp_hello_world/README.md
  examples/cpp_hello_world/stage_1/README.md
  examples/cpp_hello_world/stage_1/WORKSPACE
  examples/cpp_hello_world/stage_1/main/BUILD
  examples/cpp_hello_world/stage_1/main/hello_world.cc
  examples/cpp_hello_world/stage_2/README.md
  examples/cpp_hello_world/stage_2/WORKSPACE
  examples/cpp_hello_world/stage_2/main/BUILD
  examples/cpp_hello_world/stage_2/main/hello_greet.cc
  examples/cpp_hello_world/stage_2/main/hello_greet.h
  examples/cpp_hello_world/stage_2/main/hello_world.cc
  examples/cpp_hello_world/stage_3/README.md
  examples/cpp_hello_world/stage_3/WORKSPACE
  examples/cpp_hello_world/stage_3/lib/BUILD
  examples/cpp_hello_world/stage_3/lib/hello_time.cc
  examples/cpp_hello_world/stage_3/lib/hello_time.h
  examples/cpp_hello_world/stage_3/main/BUILD
  examples/cpp_hello_world/stage_3/main/hello_greet.cc
  examples/cpp_hello_world/stage_3/main/hello_greet.h
  examples/cpp_hello_world/stage_3/main/hello_world.cc
  examples/cpp_lots_o_files/.gitignore
  examples/cpp_lots_o_files/README.md
  examples/cpp_lots_o_files/scripts/generator.py
Labels: client

#45 Document tracking
  .gitignore
  server/src/main/java/server/BazelServices.java
  server/src/main/java/server/util/DocumentTracker.java
  server/src/main/java/server/util/Positions.java
  server/src/test/java/server/BazelServicesTest.java
  server/src/test/java/server/util/DocumentTrackerTest.java
Labels: server

#63 Speed up build time
  .vscode/launch.json
  .vscode/tasks.json
  client_vscode/.gitignore
  client_vscode/package.json
  client_vscode/scripts/build.sh
  client_vscode/scripts/update_protos.sh
  client_vscode/src/legacy/bazel/bazel_command.ts
  client_vscode/src/legacy/bazel/bazel_exit_code.ts
  client_vscode/src/legacy/bazel/bazel_query.ts
  client_vscode/src/legacy/bazel/bazel_quickpick.ts
  client_vscode/src/legacy/bazel/bazel_task_info.ts
  client_vscode/src/legacy/bazel/bazel_utils.ts
  client_vscode/src/legacy/bazel/bazel_workspace_info.ts
  client_vscode/src/legacy/bazel/index.ts
  client_vscode/src/legacy/bazel/query_location.ts
  client_vscode/src/legacy/bazel/tasks.ts
  client_vscode/src/legacy/buildifier/buildifier.ts
  client_vscode/src/legacy/buildifier/buildifier_availability.ts
  client_vscode/src/legacy/buildifier/buildifier_diagnostics_manager.ts
  client_vscode/src/legacy/buildifier/buildifier_format_provider.ts
  client_vscode/src/legacy/buildifier/buildifier_result.ts
  client_vscode/src/legacy/buildifier/index.ts
  client_vscode/src/legacy/codelens/bazel_build_code_lens_provider.ts
  client_vscode/src/legacy/codelens/code_lens_command_adapter.ts
  client_vscode/src/legacy/codelens/index.ts
  client_vscode/src/legacy/debug-adapter/client.ts
  client_vscode/src/legacy/debug-adapter/connection.ts
  client_vscode/src/legacy/debug-adapter/handles.ts
  client_vscode/src/legacy/extension/configuration.ts
  client_vscode/src/legacy/extension/extension.ts
  client_vscode/src/legacy/protos/README.md
  client_vscode/src/legacy/protos/index.ts
  client_vscode/src/legacy/protos/protos_list.txt
  client_vscode/src/legacy/protos/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
  client_vscode/src/legacy/protos/src/main/java/com/google/devtools/build/lib/skylarkdebug/proto/skylark_debugging.proto
  client_vscode/src/legacy/protos/src/main/protobuf/build.proto
  client_vscode/src/legacy/protos/src/main/protobuf/command_line.proto
  client_vscode/src/legacy/protos/src/main/protobuf/invocation_policy.proto
  client_vscode/src/legacy/protos/src/main/protobuf/option_filters.proto
  client_vscode/src/legacy/symbols/bazel_target_symbol_provider.ts
  client_vscode/src/legacy/symbols/index.ts
  client_vscode/src/legacy/workspace-tree/bazel_package_tree_item.ts
  client_vscode/src/legacy/workspace-tree/bazel_target_tree_item.ts
  client_vscode/src/legacy/workspace-tree/bazel_tree_item.ts
  client_vscode/src/legacy/workspace-tree/bazel_workspace_folder_tree_item.ts
  client_vscode/src/legacy/workspace-tree/bazel_workspace_tree_provider.ts
  client_vscode/src/legacy/workspace-tree/icons.ts
  client_vscode/src/legacy/workspace-tree/index.ts
  client_vscode/src/main/extension.ts
  client_vscode/src/main/utils/file_utils.ts
  client_vscode/src/main/utils/index.ts
  client_vscode/src/main/utils/java_utils.ts
  client_vscode/src/main/utils/workspace_utils.ts
  scripts/create_client_dev_env.sh
  server/src/main/java/server/BazelLanguageServer.java
  server/src/main/java/server/providers/CodeActionProvider.java
Labels: client, server
